body {
  width: 1440px;
  height: 5564px;
  background-color: #e3eef8;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
}
h2 {
  margin: 0;
}
.header__nav {
  width: 1110px;
  height: 40px;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 21px;
    height: 12px;
  }
}
.text_logo {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #1f1f1f;
}
.header__nav_list {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.header__nav_item a {
  text-decoration: none;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #1f1f1f;
}
%btn {
  width: 137px;
  height: 40px;
  // padding: 10px 29px 11px 31px;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -1px;
  border-radius: 5px;
  cursor: pointer;
}
.present_email-btn {
  @extend %btn;
  background: #fc593b;
  color: #fff;
  border-style: none;
}
.header__btn {
  @extend %btn;
  color: #258aff;
  border-color: #258aff;
  background-color: #e3eef8;
}
.section_blue-btn {
  @extend %btn;
  color: #258aff;
  border-color: #258aff;
  background-color: #e3eef8;
}
.section_present {
  width: 614px;
  height: 411px;
  text-align: center;
  margin-top: 180px;
  h1 {
    color: #666666;
  }
  h2 {
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -4px;
    color: #1f1f1f;
  }
  p {
    font-weight: normal;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: -0.4px;
    color: #666666;
    &.text_bas {
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -0.32381px;
      color: #878b90;
    }
  }
}
.present_email-in {
  width: 177px;
  height: 21px;
  padding: 10px 74px 10px 24px;
  background: #ffffff;
  border-radius: 3px;
  border-style: none;
}
.caracteristique {
  width: 1097px;
  height: 97px;
  margin-top: 157px;
}
.caract_list {
  display: flex;
  list-style: none;
  gap: 41px;
  h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
    margin: 0;
  }
}
.caract_item {
  display: flex;
  gap: 20px;
  p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #666666;
  }
}
.section_blue {
  margin-top: 163px;
  width: 1440px;
  height: 895px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
  color: #ffffff;
  background: #258aff;
  img {
    margin-left: 80px;
  }
  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52632px;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #e4e4e4;
  }
}
.section_blue-right {
  width: 491px;
  height: 402px;
}
.section_design {
  width: 1440px;
  height: 964px;
  margin-top: 167px;
  display: flex;
  justify-content: center;
}
.section_design-text {
  width: 579px;
  height: 607px;
  margin-left: 50px;
  h1 {
    color: #258aff;
  }
  h2 {
    margin-top: 67px;
    width: 491px;
    height: 112px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52632px;
    color: #1f1f1f;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    margin-right: 92px;
    line-height: 32px;
    color: #666666;
  }
}
.section_design-img {
  width: 320px;
  height: 655px;
}
.section_design_avantages {
  display: flex;
  margin-top: 75px;
  p {
    margin-right: 20px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #666666;
  }
}
.section_package {
  width: 1438px;
  height: 1106px;
  background-color: #192f48;
  margin-top: 132px;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 137px;
  }
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -2.52632px;
    color: #ffffff;
    margin: 40px 400px 90px 400px;
  }
}
.packages {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 350px;
  margin-right: 350px;
}
.packageBas {
  width: 350px;
  height: 515px;
  padding: 20px 40px 20px 40px;
  background: #2b405a;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.4px;
  color: #e5e5e5;
  span {
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.433333px;
    text-transform: uppercase;
  }
  .pack_btn {
    @extend %btn;
    background: #258aff;
    color: #ffffff;
    margin-top: 50px;
  }
}
.packagePro {
  width: 350px;
  height: 515px;
  padding: 20px 40px 20px 40px;
  background: #ffffff;
  border-radius: 6px;
  .pack_btn {
    @extend %btn;
    background: #fc593b;
    color: #ffffff;
    margin-top: 50px;
  }
  .packagePro_pop {
    display: flex;
    justify-content: space-between;
  }
  .pro_pop {
    width: 83px;
    height: 26px;
    background: #4eab08;
    border-radius: 13px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.514286px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
  }
}
